section#projects.single-project
  article.project
    .container
      .four.columns
        a.back(ui-sref="home") 
          span.fa.fa-angle-left
          =" "
          span(translate) View all projects
        h2 {{project.name | i18n}}
        p(ng-show="project.description") {{project.description | i18n}}
        .actions(ng-show="user")
          a(href="javascript:void(0);" ng-click="edit(project)" title="Edit") E
          a(href="javascript:void(0);" ng-click="remove(project)" title="Remove") R
        p.tags(ng-show="project.tags")
          span.fa.fa-tag
          span(ng-repeat="tag in (project.tags | i18n | commaSplit)") {{tag}}
        p.tags(ng-show="project.techs")
          span.fa.fa-gear
          span(ng-repeat="tech in (project.techs | i18n | commaSplit)") {{tech}}
        .links
          a.fa.fa-home(href="{{project.url}}" ng-show="project.url" target="_blank" rel="external")
          a.fa.fa-github(href="http://github.com/{{project.github}}" ng-show="project.github" target="_blank" rel="external")
          a.fa.fa-facebook(href="{{project.facebook}}" ng-show="project.facebook" target="_blank" rel="external")
          a.fa.fa-twitter(href="http://twitter.com/{{project.twitter}}" ng-show="project.twitter" target="_blank" rel="external")
      .eight.columns
        web-device.desktop-device(src="project.url | i18n" width="1366" height="800")
          .details
            a.rel(ng-href="{{project.url | i18n}}" rel="external" target="_blank" title="{{project.name | i18n}}") #
        .mobile-display(ng-show="project.mobile")
          web-device.mobile-device(src="project.mobile ? project.url : ''" width="360" height="640")
    .gh(ng-show="project.github && latestCommit(project) !== -1")
      .container
        .twelve.columns
          h3(translate) Recent activity in code repository
          #gh-chart(ng-show="project.github")
            gh-chart(data="commitActivity" line-color="'#999'" tooltip="true" full="true")
    .long-description(ng-show="project.long_description" ng-bind-html="project.long_description | i18n | toHtml")
